p{
    color:blue;
    background-color: greenyellow;
}
li
{
    list-style-type: square;
}
.special
{
color:blue;
font-weight: bold;
background-color: red;
}
#heading
{
    color:yellow
}